   
   /* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.mobile-padding-small{
    padding-left: 4rem;
    padding-right: 4rem;
}

.card-padding{
    padding-left: 4rem;
    padding-right: 4rem;
}

.card-padding-small{
    padding-left: 2rem;
    padding-right: 2rem;
}

img{
    width: 100%;
}

.btn{
    color: #333333;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem 1rem;
    border-radius: 1.3rem;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.background-colored{
    background-color: #9792e4;
}

.rounded-container{
    border-radius: 3rem;
}

.rounded-container-small{
    border-radius: 1.5rem;
}

/* TEXT SIZE AND PADDING   */

h2{
    font-weight: 700;
    font-size: 2.1rem;
    color: #0084fd;
    padding: 1.5rem 0;
}

p{
    font-size: 1.3rem;
    color: #333333;
}

h3{
    font-size: 1.4rem;
}

/* ///////////////HEADER ///////////////  */

header{
    height: 60px;
    background-color: #0084fd;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
}

nav .logo{
    width: 4rem;
    padding-top: 0.2rem;
}

.main-menu{
    display: none;
    padding-top: 0.3rem;
}

.burger-button{
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
}


/* |||||||||||   MAIN  |||||||||||||||||||||||   */

    section{
    padding-top: 3rem; 
     padding-bottom: 3rem;
    background-color: rgb(19, 226, 105);
}

/* intro  */

.intro-columns{
    display: flex;
    flex-wrap: wrap;
}

.intro-col{
    width: 100%;
    border: 1px solid blue;
    margin-bottom: 3rem;
    display: flex;
}

.intro-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5ddff;
}

.intro-card.large{
   justify-content: space-between;
}


.btn.apple{
    background-color: #0084fd;
    color: white;
    padding: 0.4rem 4rem;
    border-radius: 1.5rem;
    margin: 1.5rem 0;

}

    .intro-card .apple-logo{
        margin-right: 10px;
    }

    .intro-logo-big{
        color: #0084fd;
        font-size: 9rem;
        padding-top: 1.5rem;
    }

       .intro-col.icons h2{
        padding-top: 0.7rem ;
        }

        .intro-col.icons p{
            text-align: center;
            padding-bottom: 2rem;
        }



/* strategy  */


.strategy-columns{
    display: flex;
    flex-wrap: wrap;
}

.strategy-col{
    padding-top: 3rem;
    width: 100%;
    border: 1px solid red;
}

.strategy-col.second-card{
    background-color: white;
    
}

.strategy-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first-card .strategy-text{
    text-align: start;
}


.strategy-text.first-card h2{
    color: white;
    align-self: start
}

.strategy-text.first-card p{
    color: white;
    margin-bottom: 3rem;
}

.strategy-col.second-card .strategy-text{
    padding: 0 2rem;
}

.strategy-col.second-card h2{
    color: black;
}

.circle-arrow{
    font-size: 1.5rem;
    background-color: #0084fd;
    width: 3rem;
    height: 3rem;
    padding: 6px 6px;
    border-radius: 50%;
    margin: 3rem 0;
}


/* testimonials  */


.testimonials-img{
    width: 200px;
    height: 200px;
    max-width: 200px;
    background-color: pink;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-img img{
    height: 100%;
    object-fit: cover;
}


.testimonials-intro{
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: center;
}

.testimonials-col{
    background-color: #0084fd;
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 1rem 0;
   margin: 1.5rem 0;
}

.testimonials-text p{
    padding: 0 0.5rem;
    margin-top: 0.8rem;
    color: white;
}
.testimonials-col h3{
    color: white;
    font-size: 1.1rem;
    margin: 1rem 0;

}


/* grandezza virgolette   */
.testimonials-columns span{
    font-size: 1.3rem;
}

        .testimonials-col{
            border: 1px solid red;
        }

  /* benefits        */

 
  .benefits-col{
     background-color: white;
     margin-bottom: 1.5rem;
     display: flex;
     flex-direction: column;
     align-items: start;
  }

  .benefits-intro{
      color: white;
      text-align: center;
      margin-bottom: 1.5rem;
  }

  .benefits-intro h2{
      color: white;
  }

 .benefits-number{
      color: #0084fd;
      font-size: 2.5rem;
      margin: 1rem 0 ;
  }

  .benefits-title{
    color: #0084fd;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

 .benefits-col .btn{
     color: white;
     background-color: #0084fd;
     padding: 0.4rem 2.5rem;
     margin: 1.5rem 0;
 }

 /* About us   */

.about-us-profile-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-us-img-container{
    position: relative;
}

 .about-us-img{
    width: 200px;
    height: 200px;
    max-width: 200px;
    background-color: pink;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1.5rem;
}

.about-us-img img{
    height: 100%;
    object-fit: cover;
}

.quote-on-image{
    font-size:  4rem;
    color: #0084fd;
    position: absolute;
    top: 5px;
    right: 0px;
}

.about-us-profile-content h4{
    color: #0084fd;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.about-us-profile-content .btn{
    color: white;
    background-color: #0084fd;
    padding: 0.4rem 1rem;
    margin: 1.5rem 0; 
}




  /* FOOTER   */

  .mobile-padding-footer{
    padding-left: 5rem;
    padding-right: 5rem;
}

/* //////////////////////////////////////////////////////////// */
/* ////////// TABLET //////////// */
/* //////////////////////////////////////////////////////////// */


@media screen and (min-width: 768px) {
    

        /* MAIN   */

        /* distanziamento colonne col primo metodo   */


        /* .intro-col{
            width: calc( (100% / 3) - 1rem);
        }

        .intro-col:first-child{
            width: calc( ( (100% / 3 ) * 2) - 0.5rem);
            margin-right: 1.5rem;
        }

        .intro-col:nth-child(4){
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        } */

           /* Intro  */

                .intro-columns{
                    margin-left: -1rem;
                    margin-right: -1rem,;
                }

                .intro-col{
                    width: calc(100%/3);
                    padding: 0 1rem;
                }

                .intro-col:first-child{
                    width: calc( ( (100% / 3 ) * 2));
                }

                .intro-card h2{
                  text-align: center;
                }

                .intro-col.icons .intro-card{
                   align-self: stretch;
                }
        /* strategy   */

    
        
        /* testimonials   */

        .testimonials-columns{
            
        }

        .testimonials-col{
            display: flex;
        }

        .testimonials-img{
            width: calc(100% / 3);
        }

        .testimonials-text{
            width: calc( (100% / 3) * 2);
        }

               
        .testimonials-col{
            background-color: #0084fd;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            padding: 1rem 1rem;
            margin: 1.5rem 0;
        }

        

        /* benefits  */

        .benefits-columns{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        }

        .benefits-col{
            width: calc( ( 100% / 2 ) - 1rem  );
        }

        /* about us  */

        .about-us-col{
            display: flex;
        }

        .about-us-text{
        width: calc( (100% / 3) *2);
        padding: 0 2rem;
        }

        .about-us-profile-content{
            width: calc( (100% / 3) *1);
        }
            


}




/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ////////  DESKTOP  /////////////  */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (min-width: 992px) {
    
   /* HEADER   */

     .main-menu{
         display: block;
     }

     .burger-button{
         display: none;
     } 

     .main-menu ul{
         display: flex;
         align-items: center;
     }

     .main-menu li{
         margin: 0  0.7rem;
     }

        .main-menu li:last-child{
            margin-left: 1.5rem;
        }


   /* MAIN  */


   /* strategy  */

 
    #strategy .container{
        max-width: 900px;
    }

   .strategy-columns{
       justify-content: space-between;
   }

   .strategy-col{
    width: calc(50% - 1rem)
   }

   .strategy-col.first-card{
       display: flex;
       flex-direction: column;
      justify-content: space-between;   
        }

        .first-card h2{
            margin-bottom: 2rem;
        }

       .strategy-col.second-card{
        margin-top: 8rem;
       }


   /* benefits  */


   .benefits-col{
    width: calc( ( 100% / 3 ) - 2rem  );
   }





}
