   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

img{
    width: 100%;
}


/* ///////////////HEADER ///////////////  */

header{
    height: 80px;
    background-color: lightblue;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu{
    display: none;
}


/* MAIN  */

    section{
    padding-top: 3rem; 
     padding-bottom: 3rem;
    background-color: rgb(19, 226, 105);
}

.intro-columns{
    display: flex;
    flex-wrap: wrap;
}

.intro-col{
    width: 100%;
    border: 1px solid blue;
}

/* strategy  */

#strategy{
    background-color: azure;
}


.strategy-columns{
    display: flex;
    flex-wrap: wrap;
}

.strategy-col{
    width: 100%;
    border: 1px solid red;
}

/* testimonials  */

.testimonials-intro{

}

.testimonials-columns{
   

}

        .testimonials-col{
            border: 1px solid red;
        }



/* //////////////////////////////////////////////////////////// */
/* ////////// TABLET //////////// */
/* //////////////////////////////////////////////////////////// */


@media screen and (min-width: 768px) {
    

/* MAIN   */

/* distanziamento colonne col primo metodo   */


/* .intro-col{
    width: calc( (100% / 3) - 1rem);
}

.intro-col:first-child{
    width: calc( ( (100% / 3 ) * 2) - 0.5rem);
    margin-right: 1.5rem;
}

.intro-col:nth-child(4){
    margin-left: 1.5rem;
    margin-right: 1.5rem;
} */

        .intro-columns{
            margin-left: -1rem;
            margin-right: -1rem,;
        }

        .intro-col{
            width: calc(100%/3);
            padding: 0 1rem;
        }

        .intro-col:first-child{
            width: calc( ( (100% / 3 ) * 2));
        }
 
  /* testimonials   */

  .testimonials-columns{
     
  }

  .testimonials-col{
      display: flex;
  }

  .testimonials-img{
      width: calc(100% / 3);
  }

  .testimonials-text{
    width: calc( (100% / 3) * 2);
}








}




/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ////////  DESKTOP  /////////////  */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (min-width: 992px) {
    
   /* HEADER   */

     .main-menu{
         display: block;
     }

     .burger-button{
         display: none;
     } 


   /* MAIN  */


   /* strategy  */

 
    #strategy .container{
        max-width: 900px;
    }

   .strategy-columns{
       justify-content: space-between;
   }

   .strategy-col{
    width: calc(50% - 1rem)

    
}




}
